:root {
  // Colors
  --clr-main: hsl(218, 44%, 22%);
  --clr-base: hsl(220, 15%, 55%);
  --clr-help: hsl(212, 45%, 89%);
  --clr-ntrl: hsl(0, 0%, 100%);

  // Fonts
  --ff-base: 'Outfit', sans-serif;
}
